@model IEnumerable<TaskLibrary.Models.History>

@{
    ViewData["Title"] = "Histories";
}

<h1 class="mb-4 text-center" style="font-weight:bold">History</h1>
<div class="text-end mb-3">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            More Options
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="@Url.Action("GetByStatusIndex","History")">Get By Status</a></li>
            <li><a class="dropdown-item" href="@Url.Action("GetByPriorityIndex","History")">Get By Priority</a></li>
        </ul>
    </div>
</div>

@if (!Model.Any())
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        No History available.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else
{
   <partial name="partialhistoryview" model="Model" />
}

<div class="text-center mt-4">
    <a href="@Url.Action("Index", "Index")" class="btn btn-success btn-lg">Back to Home</a>
</div>

