@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for your interest in our website and our online services.  Protecting customers/visitors/users data and using it only in the way our customers/visitors/users expect from us is our highest priority. Thus, the following policy is designed to inform you about the processing of your personal data and your rights regarding this processing according to the Data Protection Regulation and other data protection laws.</p>
